.new__task {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.new__task form {
  height: 50%;
  width: 40%;
}

.submit__button button {
  width: 100%;
}
.error__container {
  position: absolute;
  top: 10%;
  width: 40%;
}
